node_modules/

.DS_Store
*.env

*.o
*.ko
*.obj
*.elf

*.lib
*.a
*.la
*.lo

*.dll
*.so
*.so.*
*.dylib

*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

*.map
*.m
*.png

.cproject
.project
.settings/

.vagrant/

!Makefile
*~

/lib
